html,
body {
    background-color: #484349 !important;
    height: 100%;
    overflow: hidden;
}

body input {
    display: block;
    margin-bottom: 5px;
    padding: 1% !important;
}

.one{
    margin-top: 5px;
    margin-right: 5px;
}

#all{
    padding: 1%;
}

.body-section {
    display: flex;
    position:sticky;
}

.users {
    width: 30vw;
    margin: 0.25%;
    border-radius: 5px;
    height: 99vh;
}

.registerUser{
    background-color: #f7f0f0 !important;
    border-radius: 5px;
    height: 99vh;
    /* z-index: 100; */
}

.newUsers{
    background-color: #f7f0f0 !important;
    border-radius: 5px;
    height: 99vh;
    top: -99vh;
}

.editUsers {
    background-color: #f7f0f0 !important;
    border-radius: 5px;
    height: 99vh;
    top: -198vh !important;
}

.relative{
    position: relative;
}

.bottomRadius {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.items {
    margin-top: 0.25%;
    width: 30vw;
    background-color: #f7f0f0 !important;
    border-radius: 7px;
    height: 99vh;
}

.btnPanel{
    display: flex !important;
    width: 100%;
}

.btn-secondary-op{
    background-color: #565e6465 !important;
    color: white !important;
}

.leftBtn{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.rightBtn{
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}
.orders {
    width: 40vw;
    margin: 0.25%;
    padding: 1%;
    background-color: #f7f0f0 !important;
    border-radius: 5px;
    height: 99vh;
}

.fullSize {
    width: 100% !important;
}

.halfSize{
    width: 50% !important;
}

.non{
    display: none;
}
.sh{
    display: block;
}

.marginBottom{
    margin-bottom: 10px !important;
}

.cardChoice{
    font-size: 16px !important;
    text-align: start !important;
    box-shadow: 1px 1px 5px #888888;
    background-color: #fff !important;
}

.spaceBetween{
    display: flex;
    justify-content: space-between;
}

.pointer{
    cursor: pointer;
}

.end{
    display: flex;
    justify-content: end;
    padding: 1%;
    cursor: pointer;
}

.middle{
    display: flex;
    justify-content: center;
}

.nome{
    font-weight: bold;
}

.out{
    position: relative !important;
    right: 500px !important;
}

.box{
    padding: 1% !important;
}

.boxUser{
    padding: 2% !important;
}

.slideIn{
    position: relative;
    animation: slideIn 1s ease-in-out 0s;
    animation-fill-mode: forwards; 
}

.slideOff{
    position: relative;
    animation: slideOff 1s ease-in-out 0s;
    animation-fill-mode: forwards; 
}

.colorW{
    color: white !important;
}

.flex{
    display: flex;
}

.cad{
    margin-top: 10px;
}

@keyframes slideIn {
    from{
        right: 500px;
    }
    to{
        right: 0px;
    }
}

@keyframes slideOff {
    from{
        right: 0px;
    }
    to{
        right: 500px;
    }
}
